// .hero-pakistan-pharmacy-industry {
//     min-height: 50vh !important;
//     .hero {
//         &-inner {
//             background-image: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.5) 100%),
//                 url("../../../assets/images/background.jpg");
//             // background-image: url("../../../assets/images/background.jpg");
//             &::after {
//                 background-color: rgba(0,0,0,0.7);
//             }
//         }
//     }
// }


.pakistan-pharmacy-industry-page {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    h1,
    h2 {
        font-family: Helvetica,Arial,sans-serif;
    }
    h1 {
        font-size: 40px;
        line-height: 1.3;
        font-weight: 700;
        @include mq(1200px) {
            font-size: 50px;

        }
    }
    h2 {
        font-size: 20px;
        margin-bottom: 15px;
        @include mq(1200px) {
            font-size: 30px;

        }
    }
    .showcase {
        &-image {
            max-width: 250px;
        }
        em {
            font-size: 13px;
            font-weight: 300;
            font-style: italic;
            color: color(secondary);
        }
        li {
            list-style: unset;
        }
    }
}
